numpy==1.19.5
pandas @ file:///C:/ci/pandas_1602083338010/work
pickleshare==0.7.5
scikit-image==0.17.2
scikit-learn @ file:///C:/ci/scikit-learn_1598377018496/work
scikit-plot==0.3.7
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
streamlit==0.76.0
